header{
	display: flex;
	justify-content: space-between;
}

body{
	background: linear-gradient(70deg, #FFDEAD 6.62%, #D8BFD8 95.61%);
	font-family:Script MT;
}

.container{
	display: inline-flex;
 	column-gap: 25px;
 	margin-top: 40px;
}

article{
	width: 800px;
	height: auto;
	border-radius: 19px;
	background-color: rgba(255,255,255, 0.2);
	background-blend-mode: overlay;
	box-shadow:  -5px 5px 20px black;
}

aside{
	width: 280px;
	height: 280px;
	border-radius: 19px;
	background-color: rgba(255,255,255, 0.2);
	background-blend-mode: overlay;
	box-shadow:  -5px 5px 20px black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 20px;
}

section{
	width: 200px;
	height: 300px;
	border-radius: 19px;
	background-color: rgba(255,255,255, 0.2);
	background-blend-mode: overlay;
	box-shadow:  -5px 5px 20px black;
	text-align: left;
	font-family: arial;
	font-size: 14px;
}
h6{
	font-family: arial;
}

.principal{
	padding: 40px;
	text-align: justify;
}

.secundario{
	padding: 40px;
	text-align: justify;
}

.titulo{
	font-family: Script MT;
	font-size: 75px;
	padding: 0px 150px;
	margin-top: 1px;
	text-shadow: -3px 3px 7px black;
	color: #FF69B4;
}

.subtitulo{
	font-family: Script MT;
	font-size: 35px;
	text-shadow: -1px 1px 0px black;
	color: #FF69B4;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

.contatos{
	font-family: Script MT;
	font-size: 20px;
	text-shadow: -1px 1px 0px black;
	color: #FF69B4;
	text-align: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


/* menu */
nav{
	border-radius: 19px;
	background-color: rgba(255,255,255, 0.2);
	background-blend-mode: overlay;
	box-shadow:  -5px 5px 20px black;
}
.menu ul{
	list-style: none;
	display: flex;
	justify-content: right;
	margin-bottom: 0px;
}

.menu > ul > li{
	display: inline-block;
}

.menu > ul > li > a{
	display: block;
	padding: 0px 30px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.menu > ul > li:hover >a{
	text-decoration: underline;
	color:#FF69B4 ;

}


/* cores */

.cor1{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color: #000000;
}
.cor2{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color: #FFFF00;
}
.cor3{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#8B4513;
}
.cor4{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#DAA520;
}
.cor5{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#0000FF;
}
.cor6{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#008000;
}
.cor7{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#A020F0;
}
.cor8{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#FF1493;
}
.cor9{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#FF0000;
}
.cor10{
	width: 50px;
	height: 50px;
	background-blend-mode: overlay;
	box-shadow:  1px 1px 8px black;
	background-color:#FFFAFA;
}

